#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background-color: #333;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

.clock {
  font-size: 2em;
  text-align: center;
  margin-top: 50px;
}

.navbar {
  background-color: #222;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  cursor: pointer;
  transition: color 0.3s;
}

.navbar li:hover {
  color: #61dafb;
}

.footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
